body {
    margin-top: 50px; 
    background-color: black;

}


#voterAddress {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
}

.image-bg-fluid-height {
	background: url('../images/us_flag.jpg') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('../images/mount-rushmore.jpg') no-repeat center center scroll;
    height: 450px;
}



.section-heading {
    margin: 30px 0;
}


footer {
    margin: 50px 0;
    text-align: center;
    color: yellow;
}


h1, label {
    text-align: center;
    color: #1849b9;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
}

h2 {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    text-align: center;
}

p {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

section {
    padding: 75px 0;
    display: inline-block;
    margin: 50px;
    background-color: #f2f2f2;
    border-radius: 200px;
}

a {
    color: yellow;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
